---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <header>
      <h1>Daniel Zapata's website</h1>
    </header>
    <p>This is my website, where I display my projects.</p>
    If you enjoy anything you see feel free to let me <em>know</em>.
  </div>
</Layout>
