<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel's Website</title>
  </head>
  <body>
    <div class="main-container">
      <header>
        <h1>Daniel Zapata's website</h1>
      </header>
      <slot />
      <footer>This is a footer, neat huh? :)</footer>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0px auto;
    max-width: 650px;
    font-size: 18px;
    color: #444;
  }

  header {
    margin-top: 30px;
  }

  footer {
    margin-top: auto;
  }

  h1, h2, h3 {
    margin: 0px;
    line-height: 1.2;
  }

  .main-container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }
</style>
